# Binaries
main
natsman
natsman-server
natsman-server-dev
__debug_bin*
*.exe
*.dll
*.so
*.dylib

# Wails
build/
frontend/dist/
frontend/node_modules/
wailsjs/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# App Data
data.json
*.log
